body {
  background-color: #4d0026;
  color: azure;
}

a {
  text-decoration:none;
  color: azure;
}
.scroller {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #990033;
}
header.scroller img {
  width: 50px;
  height: 80px;
  float: left;
  margin: 1em;
}
 header.spacer img {
  width: 50px;
  height: 80px;
  float: left;
  margin: 1em;
}
body {
  color: white;
  background-color: #4d0026;
  margin: 0;
}

ul {
  margin-left: 5%;
}
li {
  display: inline;
  padding: 0 1em 1em 0;
}




.job_textfield {
  /**border: 1px solid azure;*/
  margin: 50px;
  padding: 10px;
  list-style: none;
  background-color: #ffcc66;
}
.job_img {
  max-width: 50vw;
  float: right;
  margin-top: 55px;
}

.job_ {
  font-family: Roboto, sans-serif;
}
.job_headings {
  font-weight: 900;
  text-align: center;
  color: #ffcc66;
}
.job_list {
  font-size: 1.4em;
  color: black;
}
.job_p {
  text-align: left;
  width: 500px;
  color: #960008;
}
a:link {
  color: azure;
  text-decoration: none;
}
.job_foot {
  font-size: .75em;
  color:azure;
  text-decoration: none;
  /*margin-bottom: 20px;*/

}


article {
  font-family: Roboto, sans-serif;
  padding: 1.5em;
  max-width: 20%;
  max-height: 20%;
  float: left;
  /**border: 3px dotted azure;**/
}

#product img {

  max-width: 100%;
  max-height: 100%;
}
.parag {
  height: 6em;
}

.pic_{
  border: 5px solid azure;
}